{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "import"
    ],
    "rules": {
        "no-underscore-dangle": "off",
        "max-len": ["error", {
          "ignoreTrailingComments": true,
          "code": 100,
          "ignoreStrings": true
          }]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js"]
            }
        }
    },
    "env": {
      "jest":true
    }
}
